<h1> Add property </h1>
<form action="/properties" method="POST">
  <label for="name">
    Name
    <input type="text" name="name">
  </label>

  <label for="description">
  Description
    <textarea id="description" name="description" placeholder="Add description here"></textarea>
  </label>

  <label for="price">
    Price
    <input type="number" name="price">
  </label>
    <input type="submit" value="Submit">
</form>
